extends layout

block content
  h1
    | #{script}
  
  .chat
    .chat-window
      ul.chat-log
        li.chat-log__item.chat-log__item--mine
          | 自分の投稿
        li.chat-log__item.chat-log__item--others
          | 他人の投稿
        li.chat-log__item.chat-log__item--mine
          | 自分の投稿
        li.chat-log__item.chat-log__item--others
          | 他人の投稿
        li.chat-log__item.chat-log__item--mine
          | 自分の投稿
        li.chat-log__item.chat-log__item--others
          | 他人の投稿
        li.chat-log__item.chat-log__item--mine
          | 自分の投稿
        li.chat-log__item.chat-log__item--others
          | 他人の投稿
        li.chat-log__item.chat-log__item--mine
          | 自分の投稿
        li.chat-log__item.chat-log__item--others
          | 他人の投稿
        li.chat-log__item.chat-log__item--mine
          | 自分の投稿
        li.chat-log__item.chat-log__item--others
          | 他人の投稿
        li.chat-log__item.chat-log__item--mine
          | 自分の投稿
        li.chat-log__item.chat-log__item--others
          | 他人の投稿
        li.chat-log__item.chat-log__item--mine
          | 自分の投稿
        li.chat-log__item.chat-log__item--others
          | 他人の投稿
        li.chat-log__item.chat-log__item--mine
          | 自分の投稿
        li.chat-log__item.chat-log__item--others
          | 他人の投稿
        li.chat-log__item.chat-log__item--mine
          | 自分の投稿
        li.chat-log__item.chat-log__item--others
          | 他人の投稿
        li.chat-log__item.chat-log__item--mine
          | 自分の投稿
        li.chat-log__item.chat-log__item--others
          | 他人の投稿
        li.chat-log__item.chat-log__item--mine
          | 自分の投稿
        li.chat-log__item.chat-log__item--others
          | 他人の投稿
      form.chat-form(action="")
        input(type="text" autocomplete="off").chat__input
        button.chat__send-btn
          | Send

  script(src="/socket.io/socket.io.js")
  script(src="/jquery-2.1.4.min.js")
  script(src="/vue.min.js")
  script(src="/jquery.cookie.js")
  script(src="#{script}")
  script(src="../game_base.js")
