extends layout

block content
  .container
    .row
      .col-md-12
        button.room-list__update(v-on="click: reload")
          | Reload
        button.room-list__join(v-on="click: join")
          | Join Game
        table.table
          tr
            th Name
            th Game
            th p/m
          tr.room-list__item(v-repeat="roomList", v-on="click: selected(this)", v-class="room-list__item--active: isActive")
            td {{name}}
            td {{game}}
            td {{num}}/{{maxNum}}

  script(src="/socket.io/socket.io.js")
  script(src="/jquery-2.1.4.min.js")
  script(src="/vue.min.js")
  script(src="/index.js")
