extends layout

block content
  ul#messages
  form(action="")
    input#m(autocomplete="off")
    button Send
  script(src="/socket.io/socket.io.js")
  script(src="/jquery-2.1.4.min.js")
  script(src="/vue.min.js")
  script(src="/index.js")
