* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  position: relative;
}

.chat-window {
  position: absolute;
  background-color: #DDDDDD;
  width: 320px;
  height: 500px;
  top: 0px;
  right: 0px;
}

.chat-input {
  background-color: red;
  width: 100%;
  height: 32px;
  margin-bottom: 0px;
}
